@media only screen and (min-width: 560px) {

    .main-nav li:first-child {
        font-size: 1.4rem;
    }

    nav li a {
        font-size: .9rem;
    }
    nav ul li a {
        font-size: 1rem;
    }
    .target-article:nth-child(1) {
        grid-column: span 2;
    }

    .target-article:nth-child(4) {
        grid-column: span 2;
    }
    .nav-article:nth-of-type(1) {
        grid-column: span 2;
    }

    .nav-article:nth-of-type(2) {
        grid-column: span 2;
    }

    .rental-data {
        width: 80%;
    }

    .rentalTab {
        width: 90%;
    }

    .rental-image {
        width: 100px;
        height: 100px;
    }  

    .rental-image:hover {
        width: 100%;
        height: auto;
    }

    .main-nav li:first-child a {
        border-top: none;
        color: #ffc857;
    }

    .no-display {
        display: block;
    }

    .contact {
        grid-template-columns: 1fr 1fr;
      }

      .contact-img, .social-media  {
        width: 25px;
        height: auto;
        padding-right: 5px;
    }

    .call {
        grid-template-columns: 1fr 1fr;
        display: grid;
        grid-gap: 20px;
        align-content: center;
        justify-content: center;
    }

    .submitBtn {
        background-color: white;
        border-radius: 0.5em;
        padding: .75rem 1.5rem;
        margin: auto;     
        width: 100%;
        max-width: 20rem;
        box-sizing: border-box;
        display: block;
        margin-right: auto;
        font-size: larger;
        
        
      }
      
      .content-boxBtn {
        background-color: #1f2041;
        border-radius: 1em;
        padding: .75rem 1.5rem;
        margin: auto;     
        width: 100%;
        max-width: 20rem;
        box-sizing: border-box;
        display: block;
        margin-right: auto;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 1);
        }

     .action-img{
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 1);
        border-radius: 10px;
        border: solid;
        }

        .gallery-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
            text-align: center;
            align-items: center;
            margin-top: 4px;
            margin-bottom: 40px;
        }

        .gallery-container1 {
            display: block;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1px;
            text-align: left;
            align-items: center;
            margin-top: 4px;
            margin-bottom: 4px;
        }
        img[data-src] {
            filter: blur(0.5em);
        }
          
        img {
            filter: blur(0em);
            transition: filter 3s;
        }

        .img2 {
            width: 300px;
            height: 250px;
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 1);
          }

          .border {
            display: grid;
            grid-template-columns: 1fr 1fr;
            
          }
          .map{
            display: flex;
            justify-content: space-around;
          }
          

}